# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# SvelteKit build artifacts
.svelte-kit
build/

# Data file (mounted as volume)
hrt-data.json
hrt-settings.yaml

# Environment variables
.env
.env.*
!.env.example
